body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    font-weight: 100;
    color: #f4f1de;
    text-shadow:  1px white;
    text-transform: capitalize;
}


.intro-section {
    height: 50%;
    /* border: 1px solid red; */

    background: #fffcf2 url("images/main-image.jpg");
    background-size: cover;
    font-size: 1em;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

}

.main-section {
    height: 50%;
    background-color: #f8f9fa;
    text-align: center;
    flex-direction: column;

    

}

h2 {
    margin-top: 1em;
    font-weight: 200;
    line-height: 1;
}

h3 {
    margin: 1em auto;
text-transform: uppercase;
    color:#621708;
    font-weight: 900;
    font-size: 1.5em;
    
}

.sub {
    color: #f4f1de;
    margin-bottom: 1em;
}

.intro-section,
.main-section {
    display: flex;
}

.image-container {
    max-width: 220px;
    line-height: 0;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    /* border: 5px solid green; */
}

/* .pet-item {
    flex: 1 200px;
} */

img {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 25%;
}

img:hover {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}

form {
    font-size: 1em;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

span {
    margin: 0 auto;
    border-top: 5px solid whitesmoke;
    order: -1;
    color: whitesmoke;
    text-transform: uppercase;
}

p {
    font-family: inherit;
    margin: 0.5em;
    /* border: 1px solid red; */
    font-size: 0.5rem;
    font-weight: lighter;
    color: #adb5bd;
}

input[type="text"],
input[type="email"],
button {
    margin: 0 2em 0.5em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    ;
    padding: 0.5em;

}

strong {
    color: #caffbf;
    font-weight: 400;
}

.description {
    color:black;
    font-size: 1em;
    font-family: inherit;
}