body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #404040;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    text-shadow: 0 2px #a7c957;
}


.intro-section {
    height: 50%;
    /* border: 1px solid red; */
    color: #6a994e;
    background-color: #fffcf2;
    font-size: 1em;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

}

.main-section {
    height: 50%;
    /* border: 5px solid red; */
    color: #f2e8cf;
    background-color: #6a994e;
    text-align: center;
    flex-direction: column;
    /* justify-content: space-between; */

}

h2 {
    margin-top: 1em;
    font-weight: 200;
    line-height: 1;
}

h3 {
    margin: 0 auto;
}

.intro-section,
.main-section {
    display: flex;
}

.image-container {
    max-width: 400px;
    line-height: 0;
    margin: 0.5em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    /* border: 5px solid green; */
}

/* .pet-item {
    flex: 1 200px;
} */

img {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
}
img:hover {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}

form {
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

span {
    margin: 0 auto;
    border-top: 5px solid #ccd5ae;
    order: -1;
}

p {
    display: block;
    margin-top: 0;
    font-size: 1em;
    font-weight: 100;
}

input[type="text"],
input[type="email"],
button {
    margin: 0 1em 1em;

}