body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* height: 100vh; */
    background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    font-weight: 100;
    color: #f4f1de;
    text-shadow: 1px white;
    text-transform: capitalize;
    margin: 0.5em
}


.intro-section {
    height: 50%;
    /* border: 1px solid red; */

    background: #fffcf2 url("images/main-image.jpg");
    background-size: cover;
    font-size: 1em;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

}

.main-section {
    height: 50%;
    /* background-color: #f8f9fa; */
    /* background-color: yellow; */
    text-align: center;
    flex-direction: column;



}

h2 {
    margin: 0.5em 0 0;
    font-weight: 200;
    line-height: 1;
    text-transform: capitalize;
}

h3 {
    margin: 0.5em;
    text-transform: uppercase;
    color: #621708;
    font-weight: 900;
    font-size: 1.5em;

}


.sub {
    color: #f4f1de;
    margin-bottom: 1em;
}

.intro-section,
.main-section {
    display: flex;
}

.image-container {
    max-width: 220px;
    line-height: 0;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    /* border: 5px solid green; */
}

/* .pet-item {
    flex: 1 200px;
} */

img {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 25%;
}

img:hover {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}

form {
    font-size: 1em;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 0;

}

span {
    margin: 0 auto;
    border-top: 5px solid #f8961e;
    order: -1;
    color: whitesmoke;
    text-transform: capitalize;
}

.info {
    font-family: inherit;
    font-size: 0.5rem;
    font-weight: lighter;
    color: #1b263b;
    /* margin: 0 2em 0.5em; */
    margin: 1em 2em 0;
    text-align: center;

}

.description {
    color: #2b2d42;
    font-size: 16px;
    /* font-family: 'Roboto', sans-serif; */
    margin: 1em 2em 0;
    text-align: center;
    font-weight: 300;

}

input[type="text"],
input[type="email"],
button {
    margin: 0 2em 0.5em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    ;
    padding: 0.5em;

}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus
 {
    outline: none;
    border: 2px solid #adb5bd;
    background-color: #eae4e9;
}

button:focus,button:hover {
    background-color: #db7c26;
    cursor: pointer;
}



strong {
    color: #caffbf;
    font-weight: 400;
}


button {
    background-color: #ff9914;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

@media(min-width:576px) {
    body {
        display: flex;
      
    }

    .main-section,
    .intro-section {
        width: 50%;
    }
    .intro-section {
        min-height: 100vh;
    }
    .main-section {
        justify-content: center;
        /* margin: 0 5em 0; */
        margin: auto;
    }

    h1 {
        /* font-size: 3rem; */
        font-size: 5vw;
        font-weight: 900;
        text-shadow: 2px 2px #ddb892;
        margin: 0 0.25em 0;
    }

    h2 {

        font-size: 3vw;
        font-weight: 700;
        color: #99582a;
        margin-bottom: 0.2em;
    }

    .description {
        /* padding-bottom: 2em; */
        margin-bottom: 0.75em;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        /* font-size: 0.1vw; */
    }

    input[type="text"],
    input[type="email"],
    button {

        padding: 1em;
        margin-bottom: 1em;
        text-align: center;
    }
    h3 {
        margin-bottom: 0.75em;
        font-size: 2vw;
    }

    .info {
        color: #858585;
        font-size: 0.5vw;
    }

}